body {
    font-family: sans-serif;
    margin:0;
    background: url("https://pilothub.ru/datas/folio/6553-nochnoj-gorod.jpg");

}
a{
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: black;
}
nav{
    position: relative;
    left: 350px;
    bottom: 17px;
}
header{
    padding-top: 20px;
    background-image: linear-gradient(to right, rgb(64, 95, 196), rgb(45, 50, 179), rgb(58, 28, 193), rgb(12, 9, 204), rgb(45, 1, 204), rgb(132, 53, 152));
}
.link-header{
    font-family: 'Sigmar One', sans-serif;
}
.txt1{
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 150px;
    height: 40px;
}
.txt2{
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 80px;
}
.txt3{
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 220px;
}
.txt4{
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 110px;
}
.txt5{
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 490px;
}
footer{
    position: fixed;
    top: 900px;
}
.link-nav{
    position: relative;
    bottom: 4px;
}




body {
    font-family: sans-serif;
    margin: 0;
    background: url("https://pilothub.ru/datas/folio/6553-nochnoj-gorod.jpg");
}
header{
    background-color: black;
    height: 60px;
}
.link-header{
    position: relative;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    font-family: 'Orbitron', sans-serif;
    top: 10px;


}
.link-header:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: 1.5s;
    width:100px;
}
li{
    list-style-type: none;
}
.I{
    position: relative;
    bottom: 74px;
    left: 130px;
    font-family: 'Orbitron', sans-serif;
    background-color: white;
    width: 170px;
    border-radius: 10px;

}
.I:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: 1.5s;
}
.free-time{
    position: relative;
    right: 35px;
    color: white;   
}
.free-time:hover{
    background-color: black;
    border-radius: 20px;
    width: 300px;
    transition: 1.5s;
}






body {
    font-family: sans-serif;
    background: url("https://pilothub.ru/datas/folio/6553-nochnoj-gorod.jpg");
    margin: 0;

}
.link-header{
    text-decoration: none;
    color:rgb(247, 245, 245);
    border: 2px solid black;
    background-color: black;
    border-radius: 7px;
    font-family: 'Sigmar One', sans-serif;


}
a{
    text-decoration: none ;
}
.text-big b {
    color: white;
}
b{
    color: white;
}
h1, h3{
    color: black;
}
button{
    background: black;
    color: white;

}
.block{
    background-color: black;
    width: 430px;
    border-radius: 20px;
}





body {
    font-family: sans-serif;
    background-color: rgb(23, 71, 85);
}
.infoback{
    background-image: linear-gradient(lightblue, wheat);
}
a{
    text-decoration: none;
    color: black;
}
h1,
h2{
    color: black;
}
ol{
    color: black;
}
p{
    color: black;
}
.link-header{
    font-family: 'Sigmar One', cursive;

}
